:root {
  --primary: #81c572;
  --dark-primary: #3f6341;

  --secondary: #b99868;

  --dark-color: #333;
  --light-color: #ece7fb;

  --background-color: #fff;
  --negative-background-color: #333;

  --error: #e7195a;
  --correct: #0f0;

  --pastel1: #47cdac;
  --pastel2: #e85050;
  --pastel3: #e8bd50;
  --pastel4: #829a94;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.App {
  z-index: -50;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light-color);
}

.App {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}
